Repository lnbits/lnbits, pull requests merged in 2022-08, with the labels that each got.

#812 Mega-merge 1: Test invoice creation with description hash (WIP)
  tests/conftest.py
  tests/core/views/test_api.py
Labels: testing

#814 Mega-merge 2: Invoice/refactor description hash (WIP)
  lnbits/core/views/api.py
  lnbits/extensions/copilot/lnurl.py
  lnbits/extensions/livestream/lnurl.py
  lnbits/extensions/lnaddress/lnurl.py
  lnbits/extensions/lnurldevice/lnurl.py
  lnbits/extensions/lnurlp/lnurl.py
  lnbits/extensions/offlineshop/lnurl.py
  lnbits/extensions/satsdice/lnurl.py
  lnbits/wallets/cliche.py
  lnbits/wallets/clightning.py
  lnbits/wallets/eclair.py
  lnbits/wallets/fake.py
  lnbits/wallets/lnbits.py
  lnbits/wallets/lndgrpc.py
  lnbits/wallets/lndrest.py
  lnbits/wallets/lnpay.py
  lnbits/wallets/lntxbot.py
  lnbits/wallets/spark.py
Labels: code health

#792 Mega-merge 3: CLN update client lib with descriptionhash support (WIP)
  .env.example
  .github/workflows/regtest.yml
  Dockerfile
  docs/guide/wallets.md
  lnbits/wallets/__init__.py
  lnbits/wallets/cln.py
Labels: enhancement, wallets

#820 CLN: try except for check payment status
  lnbits/wallets/cln.py
Labels: bug, wallets

#813 Code health: Small linting fix
  lnbits/core/views/api.py
  lnbits/extensions/lnurlp/views_api.py
Labels: extension, code health

#574 Updates to documentation
  README.md
  docs/guide/wallets.md
Labels: documentation

#835 Docs: migration for extensions
  docs/devs/extensions.md
Labels: documentation

#745 Mega-merge 4: Reenable LndWallet gRPC and use TrackPaymentV2
  .github/workflows/regtest.yml
  docs/guide/wallets.md
  lnbits/core/crud.py
  lnbits/core/models.py
  lnbits/core/services.py
  lnbits/core/views/api.py
  lnbits/core/views/generic.py
  lnbits/extensions/lnaddress/views_api.py
  lnbits/extensions/paywall/views_api.py
  lnbits/extensions/subdomains/views_api.py
  lnbits/wallets/__init__.py
  lnbits/wallets/lnd_grpc_files/lightning_pb2.py
  lnbits/wallets/lnd_grpc_files/router_pb2.py
  lnbits/wallets/lnd_grpc_files/router_pb2_grpc.py
  lnbits/wallets/lndgrpc.py
  lnbits/wallets/lndrest.py
Labels: wallets

#631 Core: reserve fee as an .env variable
  .env.example
  lnbits/core/services.py
  lnbits/settings.py
Labels: core

#733 New Extension: Invoicing
  lnbits/extensions/invoices/README.md
  lnbits/extensions/invoices/__init__.py
  lnbits/extensions/invoices/config.json
  lnbits/extensions/invoices/crud.py
  lnbits/extensions/invoices/migrations.py
  lnbits/extensions/invoices/models.py
  lnbits/extensions/invoices/static/css/pay.css
  lnbits/extensions/invoices/tasks.py
  lnbits/extensions/invoices/templates/invoices/_api_docs.html
  lnbits/extensions/invoices/templates/invoices/index.html
  lnbits/extensions/invoices/templates/invoices/pay.html
  lnbits/extensions/invoices/views.py
  lnbits/extensions/invoices/views_api.py
  tests/data/mock_data.zip
  tests/extensions/invoices/__init__.py
  tests/extensions/invoices/conftest.py
  tests/extensions/invoices/test_invoices_api.py
Labels: extension proposal

#892 another testcase the fails similar to #847
  lnbits/decorators.py
  tests/core/views/test_api.py
Labels: bug

#889 add pending column to CSV export on wallet page, issue #887
  lnbits/core/static/js/wallet.js
Labels: bug, frontend

#905 Frontend: LNURLp/w icons with tooltips
  lnbits/extensions/lnurlp/templates/lnurlp/index.html
  lnbits/extensions/satsdice/templates/satsdice/index.html
  lnbits/extensions/withdraw/templates/withdraw/index.html
Labels: enhancement, frontend

#917 add copy invoice button
  lnbits/extensions/tpos/templates/tpos/tpos.html
Labels: enhancement, frontend

#916 Set focus on amount for create invoice
  lnbits/core/static/js/wallet.js
  lnbits/core/templates/core/wallet.html
Labels: enhancement, frontend

#910 [onchain-ext] Secure communication
  lnbits/extensions/watchonly/static/components/history/history.js
  lnbits/extensions/watchonly/static/components/payment/payment.js
  lnbits/extensions/watchonly/static/components/serial-port-config/serial-port-config.html
  lnbits/extensions/watchonly/static/components/serial-port-config/serial-port-config.js
  lnbits/extensions/watchonly/static/components/serial-signer/serial-signer.html
  lnbits/extensions/watchonly/static/components/serial-signer/serial-signer.js
  lnbits/extensions/watchonly/static/components/wallet-list/wallet-list.js
  lnbits/extensions/watchonly/static/js/crypto/aes.js
  lnbits/extensions/watchonly/static/js/crypto/noble-secp256k1.js
  lnbits/extensions/watchonly/static/js/index.js
  lnbits/extensions/watchonly/static/js/utils.js
  lnbits/extensions/watchonly/templates/watchonly/index.html
Labels: extension

#915 Add docs for hosting LNBits on Fly.io (for free)
  docs/guide/installation.md
Labels: documentation, deployment

#922 Boltz.exchange Extension
  Makefile
  lnbits/extensions/boltz/README.md
  lnbits/extensions/boltz/__init__.py
  lnbits/extensions/boltz/boltz.py
  lnbits/extensions/boltz/config.json
  lnbits/extensions/boltz/crud.py
  lnbits/extensions/boltz/mempool.py
  lnbits/extensions/boltz/migrations.py
  lnbits/extensions/boltz/models.py
  lnbits/extensions/boltz/tasks.py
  lnbits/extensions/boltz/templates/boltz/_api_docs.html
  lnbits/extensions/boltz/templates/boltz/index.html
  lnbits/extensions/boltz/utils.py
  lnbits/extensions/boltz/views.py
  lnbits/extensions/boltz/views_api.py
  lnbits/settings.py
  tests/core/views/test_api.py
  tests/data/mock_data.zip
  tests/extensions/bleskomat/test_lnurl_api.py
  tests/extensions/boltz/__init__.py
  tests/extensions/boltz/conftest.py
  tests/extensions/boltz/test_api.py
  tests/extensions/boltz/test_swap.py
  tests/helpers.py
  tests/mocks.py
Labels: extension proposal, extension

#857 Backend: Unstuck outgoing payments
  lnbits/app.py
  lnbits/core/crud.py
  lnbits/core/models.py
  lnbits/core/services.py
  lnbits/core/views/api.py
  lnbits/extensions/lndhub/views_api.py
  lnbits/tasks.py
  lnbits/wallets/base.py
  lnbits/wallets/cliche.py
  lnbits/wallets/cln.py
  lnbits/wallets/eclair.py
  lnbits/wallets/lnbits.py
  lnbits/wallets/lndgrpc.py
  lnbits/wallets/lndrest.py
  lnbits/wallets/lnpay.py
  lnbits/wallets/lntxbot.py
  lnbits/wallets/opennode.py
  lnbits/wallets/spark.py
Labels: enhancement, core, wallets

#876 Boltcards extension, round 2
  lnbits/extensions/boltcards/README.md
  lnbits/extensions/boltcards/__init__.py
  lnbits/extensions/boltcards/config.json
  lnbits/extensions/boltcards/crud.py
  lnbits/extensions/boltcards/lnurl.py
  lnbits/extensions/boltcards/migrations.py
  lnbits/extensions/boltcards/models.py
  lnbits/extensions/boltcards/nxp424.py
  lnbits/extensions/boltcards/static/js/index.js
  lnbits/extensions/boltcards/tasks.py
  lnbits/extensions/boltcards/templates/boltcards/_api_docs.html
  lnbits/extensions/boltcards/templates/boltcards/index.html
  lnbits/extensions/boltcards/views.py
  lnbits/extensions/boltcards/views_api.py
Labels: enhancement, extension
