Repository lnbits/lnbits, pull requests merged in 2022-12, with the labels that each got.

#1183 Fix: LNDhub alias
  lnbits/extensions/lndhub/views_api.py
Labels: bug, extension

#1033 On-the-fly invoice expiry check
  lnbits/core/crud.py
  lnbits/core/migrations.py
  lnbits/core/models.py
  lnbits/db.py
  lnbits/static/js/base.js
  lnbits/static/js/components.js
  lnbits/tasks.py
  tests/data/mock_data.zip
Labels: core

#553 Setup UI and admin extension
  .env.example
  Dockerfile
  lnbits/__main__.py
  lnbits/app.py
  lnbits/commands.py
  lnbits/core/__init__.py
  lnbits/core/crud.py
  lnbits/core/migrations.py
  lnbits/core/models.py
  lnbits/core/services.py
  lnbits/core/static/js/wallet.js
  lnbits/core/templates/admin/_tab_funding.html
  lnbits/core/templates/admin/_tab_server.html
  lnbits/core/templates/admin/_tab_theme.html
  lnbits/core/templates/admin/_tab_users.html
  lnbits/core/templates/admin/index.html
  lnbits/core/templates/core/index.html
  lnbits/core/templates/core/wallet.html
  lnbits/core/views/admin_api.py
  lnbits/core/views/api.py
  lnbits/core/views/generic.py
  lnbits/db.py
  lnbits/decorators.py
  lnbits/extensions/boltz/boltz.py
  lnbits/extensions/boltz/mempool.py
  lnbits/extensions/boltz/views_api.py
  lnbits/extensions/lndhub/views_api.py
  lnbits/extensions/satspay/views.py
  lnbits/extensions/satspay/views_api.py
  lnbits/extensions/tpos/views.py
  lnbits/extensions/tpos/views_api.py
  lnbits/helpers.py
  lnbits/server.py
  lnbits/settings.py
  lnbits/static/js/base.js
  lnbits/static/js/components.js
  lnbits/tasks.py
  lnbits/templates/base.html
  lnbits/wallets/cliche.py
  lnbits/wallets/cln.py
  lnbits/wallets/eclair.py
  lnbits/wallets/fake.py
  lnbits/wallets/lnbits.py
  lnbits/wallets/lndgrpc.py
  lnbits/wallets/lndrest.py
  lnbits/wallets/lnpay.py
  lnbits/wallets/lntips.py
  lnbits/wallets/lntxbot.py
  lnbits/wallets/opennode.py
  lnbits/wallets/spark.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/core/views/test_api.py
  tests/data/mock_data.zip
  tests/extensions/bleskomat/test_lnurl_api.py
  tests/helpers.py
  tests/mocks.py
  tools/conv.py
Labels: extension proposal

#1005 Boltcard ext upgrade
  lnbits/extensions/boltcards/README.md
  lnbits/extensions/boltcards/lnurl.py
  lnbits/extensions/boltcards/static/js/index.js
  lnbits/extensions/boltcards/templates/boltcards/index.html
  lnbits/extensions/boltcards/views_api.py
Labels: enhancement, extension

#1232 BUG: fix auth issue for superusers when allowed users are set
  lnbits/core/views/generic.py
  lnbits/decorators.py
Labels: bug

#1178 Refactor: `require_admin_user` decorator
  lnbits/core/views/api.py
  lnbits/decorators.py
  lnbits/extensions/satspay/views_api.py
Labels: code health

#1207 Adds Gerty Extension
  lnbits/extensions/gerty/README.md
  lnbits/extensions/gerty/__init__.py
  lnbits/extensions/gerty/config.json
  lnbits/extensions/gerty/crud.py
  lnbits/extensions/gerty/helpers.py
  lnbits/extensions/gerty/migrations.py
  lnbits/extensions/gerty/models.py
  lnbits/extensions/gerty/number_prefixer.py
  lnbits/extensions/gerty/static/gerty.jpg
  lnbits/extensions/gerty/static/satoshi.json
  lnbits/extensions/gerty/static/satoshi_long.json
  lnbits/extensions/gerty/templates/gerty/_api_docs.html
  lnbits/extensions/gerty/templates/gerty/gerty.html
  lnbits/extensions/gerty/templates/gerty/index.html
  lnbits/extensions/gerty/views.py
  lnbits/extensions/gerty/views_api.py
  pyproject.toml
Labels: extension proposal

#1225 New Extension: NIP-05 Verification
  lnbits/extensions/nostrnip5/README.md
  lnbits/extensions/nostrnip5/__init__.py
  lnbits/extensions/nostrnip5/config.json
  lnbits/extensions/nostrnip5/crud.py
  lnbits/extensions/nostrnip5/migrations.py
  lnbits/extensions/nostrnip5/models.py
  lnbits/extensions/nostrnip5/static/css/signup.css
  lnbits/extensions/nostrnip5/tasks.py
  lnbits/extensions/nostrnip5/templates/nostrnip5/_api_docs.html
  lnbits/extensions/nostrnip5/templates/nostrnip5/index.html
  lnbits/extensions/nostrnip5/templates/nostrnip5/rotate.html
  lnbits/extensions/nostrnip5/templates/nostrnip5/signup.html
  lnbits/extensions/nostrnip5/views.py
  lnbits/extensions/nostrnip5/views_api.py
  pyproject.toml
Labels: extension proposal

#1255 add UUID as id instead of sequential integer
  lnbits/extensions/lnurlp/crud.py
  lnbits/extensions/lnurlp/migrations.py
  lnbits/extensions/lnurlp/models.py
Labels: extension
