Repository lnbits/lnbits, pull requests merged in 2022-11, with the labels that each got.

#1117 Fix usermanager API keys
  lnbits/extensions/usermanager/crud.py
  lnbits/extensions/usermanager/templates/usermanager/_api_docs.html
  lnbits/extensions/usermanager/views_api.py
Labels: bug, enhancement, extension

#1102 fix raise error on delete request
  lnbits/extensions/bleskomat/views_api.py
  lnbits/extensions/boltcards/views_api.py
  lnbits/extensions/discordbot/views_api.py
  lnbits/extensions/events/views_api.py
  lnbits/extensions/livestream/views_api.py
  lnbits/extensions/lnaddress/views_api.py
  lnbits/extensions/lnticket/views_api.py
  lnbits/extensions/lnurlpayout/views_api.py
  lnbits/extensions/offlineshop/views_api.py
  lnbits/extensions/paywall/views_api.py
  lnbits/extensions/satspay/views_api.py
  lnbits/extensions/scrub/views_api.py
  lnbits/extensions/streamalerts/views_api.py
  lnbits/extensions/subdomains/views_api.py
  lnbits/extensions/tpos/views_api.py
Labels: bug, extension

#1116 Add the ability to check for last (5) transactions
  lnbits/core/crud.py
  lnbits/extensions/tpos/templates/tpos/tpos.html
  lnbits/extensions/tpos/views_api.py
Labels: enhancement, extension

#1091 Small fix for TPoS amount display
  lnbits/extensions/tpos/templates/tpos/tpos.html
Labels: bug, extension, frontend

#1056 Add Rounding as tipping option
  lnbits/extensions/tpos/templates/tpos/index.html
  lnbits/extensions/tpos/templates/tpos/tpos.html
Labels: enhancement, extension

#1096 more mypy extension fixes
  lnbits/extensions/jukebox/crud.py
  lnbits/extensions/jukebox/models.py
  lnbits/extensions/jukebox/tasks.py
  lnbits/extensions/jukebox/views.py
  lnbits/extensions/jukebox/views_api.py
  lnbits/extensions/ngrok/views.py
  lnbits/extensions/satsdice/crud.py
  lnbits/extensions/satsdice/lnurl.py
  lnbits/extensions/satsdice/models.py
  lnbits/extensions/satsdice/views.py
  lnbits/extensions/satsdice/views_api.py
  pyproject.toml
Labels: code health

#1147 User ID comment in `.env.example`
  .env.example
Labels: documentation

#1143 Extension: Cashu
  .env.example
  .github/codecov.yml
  lnbits/commands.py
  lnbits/extensions/cashu/README.md
  lnbits/extensions/cashu/__init__.py
  lnbits/extensions/cashu/config.json
  lnbits/extensions/cashu/config.json.example
  lnbits/extensions/cashu/crud.py
  lnbits/extensions/cashu/migrations.py
  lnbits/extensions/cashu/models.py
  lnbits/extensions/cashu/static/js/base64.js
  lnbits/extensions/cashu/static/js/dhke.js
  lnbits/extensions/cashu/static/js/noble-secp256k1.js
  lnbits/extensions/cashu/static/js/utils.js
  lnbits/extensions/cashu/tasks.py
  lnbits/extensions/cashu/templates/cashu/_api_docs.html
  lnbits/extensions/cashu/templates/cashu/_cashu.html
  lnbits/extensions/cashu/templates/cashu/index.html
  lnbits/extensions/cashu/templates/cashu/mint.html
  lnbits/extensions/cashu/templates/cashu/wallet.html
  lnbits/extensions/cashu/views.py
  lnbits/extensions/cashu/views_api.py
  lnbits/helpers.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/data/mock_data.zip
  tools/conv.py
Labels: extension proposal
