Repository lnbits/lnbits, pull requests merged in 2023-03, with the labels that each got.

#1542 RIP Lntxbot, thank you for all your help building LN, you will be missed :(
  .env.example
  README.md
  docs/guide/faq.md
  docs/guide/wallets.md
  lnbits/core/templates/core/index.html
  lnbits/settings.py
  lnbits/wallets/__init__.py
  lnbits/wallets/lntxbot.py
Labels: wallets

#1569 Remove venv from lnbits, good bye!
  .dockerignore
  .github/workflows/tests.yml
  .gitignore
  Makefile
  docs/devs/extensions.md
  docs/guide/installation.md
  docs/guide/wallets.md
  requirements.txt
Labels: code health

#1568 add version to fastapi app and startup log
  lnbits/app.py
  lnbits/settings.py
Labels: enhancement

#1590 FEAT: use versioning for frontend (npm) and copy it to lnbits/static/vendor for easier updating
  Makefile
  lnbits/app.py
  lnbits/commands.py
  lnbits/helpers.py
  lnbits/static/js/bolt11-decoder.js
  lnbits/static/vendor/Chart.bundle.js
  lnbits/static/vendor/Chart.css
  lnbits/static/vendor/axios.js
  lnbits/static/vendor/axios@0.20.0/axios.min.js
  lnbits/static/vendor/chart.js@2.9.3/chart.min.css
  lnbits/static/vendor/chart.js@2.9.3/chart.min.js
  lnbits/static/vendor/moment.js
  lnbits/static/vendor/moment@2.27.0/moment.min.js
  lnbits/static/vendor/quasar.css
  lnbits/static/vendor/quasar.ie.polyfills.umd.min.js
  lnbits/static/vendor/quasar.umd.js
  lnbits/static/vendor/quasar@1.13.2/quasar.min.css
  lnbits/static/vendor/quasar@1.13.2/quasar.umd.min.js
  lnbits/static/vendor/underscore.js
  lnbits/static/vendor/underscore@1.10.2/underscore.min.js
  lnbits/static/vendor/vue-qrcode-reader.browser.js
  lnbits/static/vendor/vue-qrcode-reader.css
  lnbits/static/vendor/vue-qrcode.js
  lnbits/static/vendor/vue-qrcode@1.0.2/vue-qrcode.min.js
  lnbits/static/vendor/vue-router.js
  lnbits/static/vendor/vue-router@3.4.3/vue-router.min.js
  lnbits/static/vendor/vue.js
  lnbits/static/vendor/vue@2.6.12/vue.min.js
  lnbits/static/vendor/vuex.js
  lnbits/static/vendor/vuex@3.5.1/vuex.min.js
  lnbits/templates/base.html
  package-lock.json
  package.json
  tools/build.py
Labels: enhancement, code health
