Repository lnbits/lnbits, pull requests merged in 2023-01, with the labels that each got.

#908 WIP: Diagon alley Extension
  lnbits/extensions/market/README.md
  lnbits/extensions/market/__init__.py
  lnbits/extensions/market/config.json
  lnbits/extensions/market/crud.py
  lnbits/extensions/market/migrations.py
  lnbits/extensions/market/models.py
  lnbits/extensions/market/notifier.py
  lnbits/extensions/market/static/images/bitcoin-shop.png
  lnbits/extensions/market/static/images/placeholder.png
  lnbits/extensions/market/tasks.py
  lnbits/extensions/market/templates/market/_api_docs.html
  lnbits/extensions/market/templates/market/_chat_box.html
  lnbits/extensions/market/templates/market/_dialogs.html
  lnbits/extensions/market/templates/market/_tables.html
  lnbits/extensions/market/templates/market/index.html
  lnbits/extensions/market/templates/market/market.html
  lnbits/extensions/market/templates/market/order.html
  lnbits/extensions/market/templates/market/product.html
  lnbits/extensions/market/templates/market/stall.html
  lnbits/extensions/market/views.py
  lnbits/extensions/market/views_api.py
Labels: extension proposal

#1322 Fix: Boltcard refunds
  lnbits/extensions/boltcards/crud.py
  lnbits/extensions/boltcards/views_api.py
Labels: bug, extension

#967 Fixing spark string subtraction
  lnbits/wallets/spark.py
Labels: bug, wallets

#1321 Make Example Great Again
  lnbits/extensions/example/__init__.py
  lnbits/extensions/example/config.json
  lnbits/extensions/example/crud.py
  lnbits/extensions/example/example.config.json
  lnbits/extensions/example/migrations.py
  lnbits/extensions/example/static/bitcoin-extension.png
  lnbits/extensions/example/static/conversion-example.png
  lnbits/extensions/example/static/conversion-example2.png
  lnbits/extensions/example/static/fastapi-example.png
  lnbits/extensions/example/static/fastapi-example2.png
  lnbits/extensions/example/static/fastapi-framework.png
  lnbits/extensions/example/static/fastapilogo.png
  lnbits/extensions/example/static/quasar-example.png
  lnbits/extensions/example/static/quasar-framework.png
  lnbits/extensions/example/static/quasarlogo.png
  lnbits/extensions/example/static/script-example.png
  lnbits/extensions/example/static/vif-example.png
  lnbits/extensions/example/static/vuejs-framework.png
  lnbits/extensions/example/static/vuejslogo.png
  lnbits/extensions/example/tasks.py
  lnbits/extensions/example/templates/example/index.html
  lnbits/extensions/example/views_api.py
Labels: extension

#1089 Fix workflow for chaining extension
  lnbits/extensions/livestream/lnurl.py
  lnbits/extensions/livestream/tasks.py
  lnbits/extensions/splitpayments/tasks.py
  lnbits/extensions/tpos/tasks.py
  lnbits/extensions/tpos/views_api.py
Labels: bug, extension

#1333 Extension: SMTP, send mails for sats
  lnbits/extensions/smtp/README.md
  lnbits/extensions/smtp/__init__.py
  lnbits/extensions/smtp/config.json
  lnbits/extensions/smtp/crud.py
  lnbits/extensions/smtp/migrations.py
  lnbits/extensions/smtp/models.py
  lnbits/extensions/smtp/smtp.py
  lnbits/extensions/smtp/static/smtp-bitcoin-email.png
  lnbits/extensions/smtp/tasks.py
  lnbits/extensions/smtp/templates/smtp/_api_docs.html
  lnbits/extensions/smtp/templates/smtp/display.html
  lnbits/extensions/smtp/templates/smtp/index.html
  lnbits/extensions/smtp/views.py
  lnbits/extensions/smtp/views_api.py
Labels: extension proposal, extension

#1303 fix mypy issues for watchonly
  lnbits/extensions/watchonly/crud.py
  lnbits/extensions/watchonly/helpers.py
  lnbits/extensions/watchonly/models.py
  lnbits/extensions/watchonly/views.py
  lnbits/extensions/watchonly/views_api.py
  pyproject.toml
Labels: code health

#1304 fix mypy lnurldevices
  lnbits/extensions/lnurldevice/crud.py
  lnbits/extensions/lnurldevice/lnurl.py
  lnbits/extensions/lnurldevice/models.py
  lnbits/extensions/lnurldevice/tasks.py
  lnbits/extensions/lnurldevice/views.py
  lnbits/extensions/lnurldevice/views_api.py
  pyproject.toml
Labels: code health

#1335 Limit the size of images in Marketplace
  lnbits/extensions/market/templates/market/_dialogs.html
  lnbits/extensions/market/templates/market/_tables.html
  lnbits/extensions/market/templates/market/index.html
  lnbits/extensions/market/views_api.py
Labels: enhancement, extension

#1242 update lock file and workflows to poetry 1.3.1
  .github/workflows/formatting.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/regtest.yml
  .github/workflows/tests.yml
  poetry.lock
Labels: dependencies, deployment

#1352 add image by URL and limit size on API
  lnbits/extensions/offlineshop/static/js/index.js
  lnbits/extensions/offlineshop/templates/offlineshop/index.html
  lnbits/extensions/offlineshop/views_api.py
Labels: enhancement, extension

#1370 Cashu 0.8
  lnbits/extensions/cashu/templates/cashu/mint.html
  lnbits/extensions/cashu/templates/cashu/wallet.html
  lnbits/extensions/cashu/views_api.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: extension

#1351 Streamer Copilot update: Makes qr code and price draggable
  lnbits/extensions/copilot/templates/copilot/compose.html
Labels: enhancement, extension

#981 boltz extension v2, recurring swaps
  lnbits/extensions/boltz/boltz.py
  lnbits/extensions/boltz/crud.py
  lnbits/extensions/boltz/mempool.py
  lnbits/extensions/boltz/migrations.py
  lnbits/extensions/boltz/models.py
  lnbits/extensions/boltz/tasks.py
  lnbits/extensions/boltz/templates/boltz/_api_docs.html
  lnbits/extensions/boltz/templates/boltz/_autoReverseSwapDialog.html
  lnbits/extensions/boltz/templates/boltz/_autoReverseSwapList.html
  lnbits/extensions/boltz/templates/boltz/_buttons.html
  lnbits/extensions/boltz/templates/boltz/_checkSwapDialog.html
  lnbits/extensions/boltz/templates/boltz/_qrDialog.html
  lnbits/extensions/boltz/templates/boltz/_reverseSubmarineSwapDialog.html
  lnbits/extensions/boltz/templates/boltz/_reverseSubmarineSwapList.html
  lnbits/extensions/boltz/templates/boltz/_statusDialog.html
  lnbits/extensions/boltz/templates/boltz/_submarineSwapDialog.html
  lnbits/extensions/boltz/templates/boltz/_submarineSwapList.html
  lnbits/extensions/boltz/templates/boltz/index.html
  lnbits/extensions/boltz/utils.py
  lnbits/extensions/boltz/views.py
  lnbits/extensions/boltz/views_api.py
  lnbits/extensions/deezy/templates/deezy/index.html
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/extensions/boltz/conftest.py
  tests/extensions/boltz/test_api.py
  tests/extensions/boltz/test_swap.py
Labels: enhancement, extension

#1360 Gerty extension tweaks
  lnbits/extensions/gerty/helpers.py
  lnbits/extensions/gerty/templates/gerty/index.html
Labels: extension

#1386 DOCS: improve boltz fee information
  lnbits/extensions/boltz/README.md
  lnbits/extensions/boltz/crud.py
  lnbits/extensions/boltz/templates/boltz/_api_docs.html
Labels: documentation

#1367 add pyright to the project
  Makefile
  lnbits/extensions/copilot/templates/copilot/compose.html
  lnbits/extensions/gerty/templates/gerty/gerty.html
  lnbits/extensions/gerty/templates/gerty/index.html
  lnbits/extensions/jukebox/static/js/index.js
  lnbits/extensions/lnurldevice/templates/lnurldevice/index.html
  lnbits/extensions/market/templates/market/index.html
  lnbits/extensions/satspay/templates/satspay/index.html
  lnbits/extensions/smtp/templates/smtp/index.html
  lnbits/extensions/subdomains/templates/subdomains/index.html
  lnbits/extensions/watchonly/static/components/wallet-list/wallet-list.js
  package-lock.json
  package.json
  pyproject.toml
Labels: dependencies, code health

#1406 TEST: add eclair fundingsource workflow
  .github/workflows/regtest.yml
Labels: testing

#1402 TEST: LNbits as fundingsource in regtest
  .dockerignore
  .github/workflows/regtest.yml
  Dockerfile
  tools/create_fake_admin.py
Labels: testing

#1419 Dependencies: fix all library versions
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies

#1420 Dependencies: update protobuf and grpcio to latest versions
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies

#1231 Extension install 02
  .env.example
  .gitignore
  docs/guide/extension-install.md
  lnbits/app.py
  lnbits/commands.py
  lnbits/core/__init__.py
  lnbits/core/crud.py
  lnbits/core/helpers.py
  lnbits/core/migrations.py
  lnbits/core/models.py
  lnbits/core/services.py
  lnbits/core/static/extension.png
  lnbits/core/static/js/extensions.js
  lnbits/core/templates/admin/_tab_server.html
  lnbits/core/templates/admin/_tab_users.html
  lnbits/core/templates/admin/index.html
  lnbits/core/templates/core/extensions.html
  lnbits/core/templates/core/install.html
  lnbits/core/views/api.py
  lnbits/core/views/generic.py
  lnbits/extension_manager.py
  lnbits/extensions/copilot/README.md
  lnbits/extensions/copilot/__init__.py
  lnbits/extensions/copilot/config.json
  lnbits/extensions/copilot/crud.py
  lnbits/extensions/copilot/lnurl.py
  lnbits/extensions/copilot/migrations.py
  lnbits/extensions/copilot/models.py
  lnbits/extensions/copilot/static/bitcoin-streaming.png
  lnbits/extensions/copilot/static/bitcoin.gif
  lnbits/extensions/copilot/static/confetti.gif
  lnbits/extensions/copilot/static/face.gif
  lnbits/extensions/copilot/static/lnurl.png
  lnbits/extensions/copilot/static/martijn.gif
  lnbits/extensions/copilot/static/rick.gif
  lnbits/extensions/copilot/static/rocket.gif
  lnbits/extensions/copilot/tasks.py
  lnbits/extensions/copilot/templates/copilot/_api_docs.html
  lnbits/extensions/copilot/templates/copilot/compose.html
  lnbits/extensions/copilot/templates/copilot/index.html
  lnbits/extensions/copilot/templates/copilot/panel.html
  lnbits/extensions/copilot/views.py
  lnbits/extensions/copilot/views_api.py
  lnbits/helpers.py
  lnbits/settings.py
  lnbits/static/js/base.js
  lnbits/static/js/components.js
  tests/data/mock_data.zip
Labels: enhancement, extension, core
