Repository lnbits/lnbits, pull requests merged in 2023-12, with the labels that each got.

#2123 use awk to bump CACHE_VERSION (drop sed usage)
  Makefile
Labels: code health

#2092 [FEAT] Auth, Login, OAuth, create account with username and password #1653
  .env.example
  flake.lock
  lnbits/app.py
  lnbits/core/__init__.py
  lnbits/core/crud.py
  lnbits/core/helpers.py
  lnbits/core/migrations.py
  lnbits/core/models.py
  lnbits/core/tasks.py
  lnbits/core/templates/core/account.html
  lnbits/core/templates/core/extensions.html
  lnbits/core/templates/core/index.html
  lnbits/core/templates/core/wallet.html
  lnbits/core/templates/node/index.html
  lnbits/core/views/api.py
  lnbits/core/views/auth_api.py
  lnbits/core/views/generic.py
  lnbits/decorators.py
  lnbits/helpers.py
  lnbits/middleware.py
  lnbits/settings.py
  lnbits/static/bundle.min.js
  lnbits/static/i18n/en.js
  lnbits/static/images/github-logo.png
  lnbits/static/images/google-logo.png
  lnbits/static/js/account.js
  lnbits/static/js/admin.js
  lnbits/static/js/base.js
  lnbits/static/js/components.js
  lnbits/static/js/index.js
  lnbits/static/js/service-worker.js
  lnbits/static/js/wallet.js
  lnbits/templates/base.html
  lnbits/templates/error.html
  lnbits/wallets/macaroon/macaroon.py
  poetry.lock
  pyproject.toml
  tests/core/views/test_generic.py
  tests/core/views/test_node_api.py
Labels: enhancement, core

#2173 fix not showing account for existing users
  lnbits/static/js/account.js
Labels: bug

#2138 cln: allow amountless invoices in node tx list
  lnbits/nodes/cln.py
Labels: node
